$baseFontSize: 27.94px;
$scale: 16px/$baseFontSize;
$baseMinFontSize: 18px;
$templateWidth: 1900px;
$templateMinWidth: 340px;
$topHeight: 739px;

@function pxrem($px) {
    @return 1rem*$px/$baseFontSize;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-size: $baseFontSize*$scale;
    line-height: pxrem(34.15px);
}

body {
    min-width: pxrem($templateMinWidth);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: pxrem(78.2px);
    line-height: pxrem(74.17px);
    letter-spacing: 0.053em;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: pxrem(43.47px);
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: pxrem(46.57px);
    font-weight: bold;
    letter-spacing: 0.276em;
    text-transform: uppercase;
    text-align: right;
    height: pxrem(93px);
    line-height: pxrem(78px);
    border-top: pxrem(3px) solid #000;
    border-bottom: pxrem(3px) solid #000;
    position: relative;
    margin: 0;
    &:before {
        content: "";
        display: block;
        width: pxrem(99px);
        height: pxrem(99px);
        border: pxrem(5.5px) solid #f5b63a;
        border-radius: pxrem(100px/2);
        background: url('/images/icon6.png') no-repeat center center #fff;
        background-size: contain;
        position: absolute;
        left: pxrem(-100px);
        top: pxrem(-6px);
    }
}

h4 {
    margin: 0;
    font-size: pxrem(37.8px);
    font-weight: bold;
    letter-spacing: 0.045em;
}

h5 {
    margin: 0;
    font-weight: normal;
    font-size: pxrem(27.94px);
    letter-spacing: 0.002em;
}

h6 {
    font-size: pxrem(30px);
    font-weight: normal;
    margin: 0;
}

.container{
    max-width: pxrem($templateWidth);
    margin: 0 auto;
    #top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: pxrem($topHeight);
        background-color: #eceded;
        #top-left {
            padding-top: pxrem(108px);
            padding-bottom: 0;
            position: relative;
            margin-left: pxrem(205px);
            .button-container {
                display: flex;
                justify-content: center;
                width: 70%;
                .button-1 {
                    margin-bottom: pxrem(100px);
                    visibility: hidden;
                }
            }
            h6 {
                margin-top: pxrem(20px);
                margin-left: pxrem(2px);
            }
        }
        #top-right {
            flex: 0 0 pxrem(686px);
            background: url('/images/image1.png') no-repeat center center #424243;
            background-size: cover;
            height: 100%;
            padding: pxrem(190px) 0 0 pxrem(237px);
            color: #fff;
            font-size: pxrem(29px);
            line-height: pxrem(32.6px);
        }
        .job-titles {
            margin-bottom: pxrem(72px);
            padding-left: pxrem(116px);
            position: relative;
            &:before {
                content: "";
                width: pxrem(100px);
                height: pxrem(100px);
                background-color: #f5b63a;
                display: block;
                position: absolute;
                border-radius: pxrem(calc(134px/2));
                left: pxrem(-68px);
                top: pxrem(-8px);
            }
            &:after {
                content: "";
                width: pxrem(108px);
                height: pxrem(4px);
                background-color: #000;
                position: absolute;
                left: pxrem(calc(-68px + 100px/2));
                top: pxrem(calc(100px/2 - 10px));
            }
        }
        .job-description {
            padding-left: pxrem(32px);
            width: 75%;
        }
        #avatar {
            width: pxrem(411px);
            height: pxrem(411px);
            background-color: #fff;
            position: absolute;
            right: pxrem(-207px);
            top: pxrem(138px);
            border-radius: calc(411px/2);
            border: pxrem(20.5px) solid #f5b63a;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
                transform: rotate(-15deg);
            }
        }
        h2 {
            margin: pxrem(11px) 0 0 pxrem(5px);
            letter-spacing: 0.007em;
        }
    }

    #middle {
        display: flex;
        justify-content: space-between;
        #middle-left, #middle-right {
            padding-top: pxrem(68px);
            padding-bottom: pxrem(75px);
        }
        #middle-left {
            margin-left: pxrem(237px);
            width: 41.7%;
        }
        #middle-right {
            flex: 0 0 pxrem(686px);
            background-color: #eceded;
            padding-right: pxrem(127px);
            padding-left: pxrem(50px);
        }
        h3 {
            margin-bottom: pxrem(62px);
            margin-left: pxrem(3px);
        }

        .block {
            border-bottom: pxrem(3px) solid #000;
            padding-bottom: pxrem(52px);
            margin-bottom: pxrem(63px);
            .block-inner {
                margin-left: pxrem(-3px);
            }
            &.education-block {
                border-bottom: none;
                h3 {
                    &:before {
                        background-image: url('/images/icon1.png');
                    }
                }
            }
            &.education-block-1 {
                padding-bottom: pxrem(47px);
                margin-bottom: pxrem(182px);
            }
            &.experience-block {
                padding-bottom: pxrem(57px);
                h3 {
                    &:before {
                        background-image: url('/images/icon2.png');
                    }
                }
            }
            &.experience-block-1 {
                padding-bottom: pxrem(44px);
            }
            &.awards-block, &.skills-block, &.languages-block, &.reference-block {
                border-bottom: none;
            }
            &.awards-block {
                margin-bottom: pxrem(19px);
                h3 {
                    margin-bottom: pxrem(67px);
                    &:before {
                        background-image: url('/images/icon3.png');
                    }
                }
            }
            &.skills-block {
                margin-bottom: pxrem(19px);
                h3 {
                    margin-bottom: pxrem(51px);
                    &:before {
                        background-image: url('/images/icon4.png');
                    }
                }
            }
            &.languages-block {
                margin-bottom: pxrem(10px);
                h3 {
                    margin-bottom: pxrem(37px);
                    &:before {
                        background-image: url('/images/icon5.png');
                    }
                }
            }
            &.reference-block {
                h3 {
                    margin-bottom: pxrem(70px);
                    &:before {
                        background-image: url('/images/icon6.png');
                    }
                }
                .block-inner {
                    margin-left: pxrem(-5px);
                }
            }
            h4 {
                margin-bottom: pxrem(5px);
            }
            h5 {
                margin-bottom: pxrem(34px);
            }
            .block-description {
                font-size: pxrem(27.94px);
                padding-left: pxrem(3px);
                letter-spacing: 0.001em;
            }
            .title {
                width: pxrem(300.783px);
                display: inline-block;
                small {
                    font-weight: normal;
                    font-style: italic;
                    display: block;
                }
            }
            .stars {
                margin-top: pxrem(5px);
            }
        }
        ul.list {
            margin-left: pxrem(-2px);
            font-size: pxrem(31px);
            font-weight: bold;
            li {
                margin-top: pxrem(36px);
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .stars {
        background: url('/images/stars-disabled.png') no-repeat left center;
        background-size: contain;
        width: pxrem(198px);
        height: pxrem(30px);
        display: inline-block;
        position: relative;
        z-index: 0;
        &:before {
            content: "";
            background: url('/images/stars-enabled.png') no-repeat pxrem(-198px - 12px) center;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            display: block;
            width: pxrem(198px);
            height: pxrem(30px);
        }
        &.stars-1 {
            &:before {
                background-position: pxrem(-198px - 12px + 1*42px);
            }
        }
        &.stars-2 {
            &:before {
                background-position: pxrem(-198px - 12px + 2*42px);
            }
        }
        &.stars-3 {
            &:before {
                background-position: pxrem(-198px - 12px + 3*42px);
            }
        }
        &.stars-4 {
            &:before {
                background-position: pxrem(-198px - 12px + 4*42px);
            }
        }
        &.stars-5 {
            &:before {
                background-position: pxrem(-198px - 12px + 5*42px);
            }
        }
    }

    .date {
        font-size: pxrem(34.15px);
        margin-bottom: pxrem(11px);
    }

    .button-1 {
        background-color: #dc3545;
        padding: pxrem(30px);
        font-size: pxrem(40px);
        border-radius: pxrem(15px);
        color: #fff;
        display: block;
    }
}

#contacts {
    line-height: pxrem(40px);
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: pxrem(20px);
    border-radius: pxrem(10px);
    margin-right: pxrem(40px);
    span {
        display: inline-block;
        min-width: pxrem(40px);
        color: #f5b63a;
        text-align: center;
    }
}

@media(max-width: 1900px) {
    html {
        font-size: calc($baseFontSize*$scale - ($templateWidth - 100vw)*(($baseFontSize*$scale - $baseMinFontSize)/($templateWidth - $templateMinWidth)) );
    }
}

@media(max-width: 1800px) {
    .container {
        #top {
            #top-left {
                padding-top: pxrem(150px);
                .job-titles {
                    padding-left: 0;
                    &:before, &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

@media(max-width: 1100px) {
    .container {
        #top {
            #top-left {
                margin-left: pxrem(150px);
            }
            #top-right {
                flex-basis: pxrem(620px);
            }
        }
        #middle {
            #middle-left {
                margin-left: pxrem(180px);
            }
            #middle-right {
                flex-basis: pxrem(620px);
                padding-right: pxrem(40px);
            }
            .block{
                .title {
                    width: pxrem(200px);
                }
            }
        }
    }
}

@media(max-width: 900px) {
    .container {
        #top {
            flex-direction: column;
            height: auto;
            #top-left {
                text-align: center;
                padding-top: pxrem(40px);
                margin-left: 0;
                .job-titles {
                    margin-bottom: pxrem(40px);
                }
                .job-description {
                    margin-bottom: pxrem(40px);
                    width: auto;
                    padding: 0 pxrem(20px);
                }
            }
            #top-right{
                flex: auto;
                width: 100%;
                padding-top: pxrem(40px);
                padding-bottom: pxrem(40px);
                padding-left: pxrem(40px);
            }
            #avatar {
                position: static;
                display: inline-block;
                margin-bottom: pxrem(20px);
            }
        }
        #middle {
            flex-direction: column;
            #middle-left, #middle-right {
                padding-left: pxrem(40px);
                padding-right: pxrem(40px);
                padding-bottom: pxrem(40px);
            }
            #middle-left {
                width: auto;
                margin-left: 0;
            }
            .block {
                &.education-block-1 {
                    margin-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
    h3 {
        &:before {
            left: 0;
            top: pxrem(5px);
            width: pxrem(75px);
            height: pxrem(75px);
            background-color: transparent;
            border: none;
        }
    }
}
