html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.22226199rem;
}

body {
  min-width: 12.1689334288rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.7988546886rem;
  line-height: 2.6546170365rem;
  letter-spacing: 0.053em;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.5558339298rem;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 1.6667859699rem;
  font-weight: bold;
  letter-spacing: 0.276em;
  text-transform: uppercase;
  text-align: right;
  height: 3.3285612026rem;
  line-height: 2.7916964925rem;
  border-top: 0.107372942rem solid #000;
  border-bottom: 0.107372942rem solid #000;
  position: relative;
  margin: 0;
}
h3:before {
  content: "";
  display: block;
  width: 3.5433070866rem;
  height: 3.5433070866rem;
  border: 0.1968503937rem solid #f5b63a;
  border-radius: 1.7895490336rem;
  background: url("/images/icon6.png") no-repeat center center #fff;
  background-size: contain;
  position: absolute;
  left: -3.5790980673rem;
  top: -0.214745884rem;
}

h4 {
  margin: 0;
  font-size: 1.3528990694rem;
  font-weight: bold;
  letter-spacing: 0.045em;
}

h5 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.002em;
}

h6 {
  font-size: 1.0737294202rem;
  font-weight: normal;
  margin: 0;
}

.container {
  max-width: 68.0028632785rem;
  margin: 0 auto;
}
.container #top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 26.4495347173rem;
  background-color: #eceded;
}
.container #top #top-left {
  padding-top: 3.8654259127rem;
  padding-bottom: 0;
  position: relative;
  margin-left: 7.3371510379rem;
}
.container #top #top-left .button-container {
  display: flex;
  justify-content: center;
  width: 70%;
}
.container #top #top-left .button-container .button-1 {
  margin-bottom: 3.5790980673rem;
  visibility: hidden;
}
.container #top #top-left h6 {
  margin-top: 0.7158196135rem;
  margin-left: 0.0715819613rem;
}
.container #top #top-right {
  flex: 0 0 24.5526127416rem;
  background: url("/images/image1.png") no-repeat center center #424243;
  background-size: cover;
  height: 100%;
  padding: 6.0844667144rem 0 0 8.4824624195rem;
  color: #fff;
  font-size: 1.0379384395rem;
  line-height: 1.1667859699rem;
}
.container #top .job-titles {
  margin-bottom: 2.5769506084rem;
  padding-left: 4.1517537581rem;
  position: relative;
}
.container #top .job-titles:before {
  content: "";
  width: 3.5790980673rem;
  height: 3.5790980673rem;
  background-color: #f5b63a;
  display: block;
  position: absolute;
  border-radius: 2.3979957051rem;
  left: -2.4337866858rem;
  top: -0.2863278454rem;
}
.container #top .job-titles:after {
  content: "";
  width: 3.8654259127rem;
  height: 0.1431639227rem;
  background-color: #000;
  position: absolute;
  left: -0.6442376521rem;
  top: 1.4316392269rem;
}
.container #top .job-description {
  padding-left: 1.1453113815rem;
  width: 75%;
}
.container #top #avatar {
  width: 14.7100930565rem;
  height: 14.7100930565rem;
  background-color: #fff;
  position: absolute;
  right: -7.4087329993rem;
  top: 4.9391553329rem;
  border-radius: 205.5px;
  border: 0.7337151038rem solid #f5b63a;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #top #avatar img {
  max-width: 100%;
  max-height: 100%;
  transform: rotate(-15deg);
}
.container #top h2 {
  margin: 0.3937007874rem 0 0 0.1789549034rem;
  letter-spacing: 0.007em;
}
.container #middle {
  display: flex;
  justify-content: space-between;
}
.container #middle #middle-left, .container #middle #middle-right {
  padding-top: 2.4337866858rem;
  padding-bottom: 2.6843235505rem;
}
.container #middle #middle-left {
  margin-left: 8.4824624195rem;
  width: 41.7%;
}
.container #middle #middle-right {
  flex: 0 0 24.5526127416rem;
  background-color: #eceded;
  padding-right: 4.5454545455rem;
  padding-left: 1.7895490336rem;
}
.container #middle h3 {
  margin-bottom: 2.2190408017rem;
  margin-left: 0.107372942rem;
}
.container #middle .block {
  border-bottom: 0.107372942rem solid #000;
  padding-bottom: 1.861130995rem;
  margin-bottom: 2.2548317824rem;
}
.container #middle .block .block-inner {
  margin-left: -0.107372942rem;
}
.container #middle .block.education-block {
  border-bottom: none;
}
.container #middle .block.education-block h3:before {
  background-image: url("/images/icon1.png");
}
.container #middle .block.education-block-1 {
  padding-bottom: 1.6821760916rem;
  margin-bottom: 6.5139584825rem;
}
.container #middle .block.experience-block {
  padding-bottom: 2.0400858984rem;
}
.container #middle .block.experience-block h3:before {
  background-image: url("/images/icon2.png");
}
.container #middle .block.experience-block-1 {
  padding-bottom: 1.5748031496rem;
}
.container #middle .block.awards-block, .container #middle .block.skills-block, .container #middle .block.languages-block, .container #middle .block.reference-block {
  border-bottom: none;
}
.container #middle .block.awards-block {
  margin-bottom: 0.6800286328rem;
}
.container #middle .block.awards-block h3 {
  margin-bottom: 2.3979957051rem;
}
.container #middle .block.awards-block h3:before {
  background-image: url("/images/icon3.png");
}
.container #middle .block.skills-block {
  margin-bottom: 0.6800286328rem;
}
.container #middle .block.skills-block h3 {
  margin-bottom: 1.8253400143rem;
}
.container #middle .block.skills-block h3:before {
  background-image: url("/images/icon4.png");
}
.container #middle .block.languages-block {
  margin-bottom: 0.3579098067rem;
}
.container #middle .block.languages-block h3 {
  margin-bottom: 1.3242662849rem;
}
.container #middle .block.languages-block h3:before {
  background-image: url("/images/icon5.png");
}
.container #middle .block.reference-block h3 {
  margin-bottom: 2.5053686471rem;
}
.container #middle .block.reference-block h3:before {
  background-image: url("/images/icon6.png");
}
.container #middle .block.reference-block .block-inner {
  margin-left: -0.1789549034rem;
}
.container #middle .block h4 {
  margin-bottom: 0.1789549034rem;
}
.container #middle .block h5 {
  margin-bottom: 1.2168933429rem;
}
.container #middle .block .block-description {
  font-size: 1rem;
  padding-left: 0.107372942rem;
  letter-spacing: 0.001em;
}
.container #middle .block .title {
  width: 10.7653185397rem;
  display: inline-block;
}
.container #middle .block .title small {
  font-weight: normal;
  font-style: italic;
  display: block;
}
.container #middle .block .stars {
  margin-top: 0.1789549034rem;
}
.container #middle ul.list {
  margin-left: -0.0715819613rem;
  font-size: 1.1095204009rem;
  font-weight: bold;
}
.container #middle ul.list li {
  margin-top: 1.2884753042rem;
}
.container #middle ul.list li:first-child {
  margin-top: 0;
}
.container .stars {
  background: url("/images/stars-disabled.png") no-repeat left center;
  background-size: contain;
  width: 7.0866141732rem;
  height: 1.0737294202rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.container .stars:before {
  content: "";
  background: url("/images/stars-enabled.png") no-repeat -7.5161059413rem center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 7.0866141732rem;
  height: 1.0737294202rem;
}
.container .stars.stars-1:before {
  background-position: -6.012884753rem;
}
.container .stars.stars-2:before {
  background-position: -4.5096635648rem;
}
.container .stars.stars-3:before {
  background-position: -3.0064423765rem;
}
.container .stars.stars-4:before {
  background-position: -1.5032211883rem;
}
.container .stars.stars-5:before {
  background-position: 0rem;
}
.container .date {
  font-size: 1.22226199rem;
  margin-bottom: 0.3937007874rem;
}
.container .button-1 {
  background-color: #dc3545;
  padding: 1.0737294202rem;
  font-size: 1.4316392269rem;
  border-radius: 0.5368647101rem;
  color: #fff;
  display: block;
}

#contacts {
  line-height: 1.4316392269rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  padding: 0.7158196135rem;
  border-radius: 0.3579098067rem;
  margin-right: 1.4316392269rem;
}
#contacts span {
  display: inline-block;
  min-width: 1.4316392269rem;
  color: #f5b63a;
  text-align: center;
}

@media (max-width: 1900px) {
  html {
    font-size: calc(16px - (1900px - 100vw) * -0.0012820513);
  }
}
@media (max-width: 1800px) {
  .container #top #top-left {
    padding-top: 5.3686471009rem;
  }
  .container #top #top-left .job-titles {
    padding-left: 0;
  }
  .container #top #top-left .job-titles:before, .container #top #top-left .job-titles:after {
    display: none;
  }
}
@media (max-width: 1100px) {
  .container #top #top-left {
    margin-left: 5.3686471009rem;
  }
  .container #top #top-right {
    flex-basis: 22.1904080172rem;
  }
  .container #middle #middle-left {
    margin-left: 6.4423765211rem;
  }
  .container #middle #middle-right {
    flex-basis: 22.1904080172rem;
    padding-right: 1.4316392269rem;
  }
  .container #middle .block .title {
    width: 7.1581961346rem;
  }
}
@media (max-width: 900px) {
  .container #top {
    flex-direction: column;
    height: auto;
  }
  .container #top #top-left {
    text-align: center;
    padding-top: 1.4316392269rem;
    margin-left: 0;
  }
  .container #top #top-left .job-titles {
    margin-bottom: 1.4316392269rem;
  }
  .container #top #top-left .job-description {
    margin-bottom: 1.4316392269rem;
    width: auto;
    padding: 0 0.7158196135rem;
  }
  .container #top #top-right {
    flex: auto;
    width: 100%;
    padding-top: 1.4316392269rem;
    padding-bottom: 1.4316392269rem;
    padding-left: 1.4316392269rem;
  }
  .container #top #avatar {
    position: static;
    display: inline-block;
    margin-bottom: 0.7158196135rem;
  }
  .container #middle {
    flex-direction: column;
  }
  .container #middle #middle-left, .container #middle #middle-right {
    padding-left: 1.4316392269rem;
    padding-right: 1.4316392269rem;
    padding-bottom: 1.4316392269rem;
  }
  .container #middle #middle-left {
    width: auto;
    margin-left: 0;
  }
  .container #middle .block.education-block-1 {
    margin-bottom: 0;
    border-bottom: none;
  }

  h3:before {
    left: 0;
    top: 0.1789549034rem;
    width: 2.6843235505rem;
    height: 2.6843235505rem;
    background-color: transparent;
    border: none;
  }
}

